<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <h1>My Cart</h1>
    <main>
        <% if (fruits.length > 0) { %> 
            <ul>
                <% fruits.forEach(f => { %>
                    <li>
                        <p><%=f.fruitId.name %> (<%=f.quantity%>)</p>
                        <form action="/cart-del-item" method="post">
                            <button type="submit">Delete</button>
                            <input type="hidden" name="fruitId" value="<%= f.fruitId._id %>">
                        </form>
                    </li>
                <% }); %>
            </ul>
            <form action="/post-order" method="POST">
                <button type="submit" class="btn">Order Now!</button>
            </form>
        <%  } else { %>
            <h1>No Products in Cart</h1>
        <% } %> 
    </main>

<%- include('includes/footer.ejs') %>