<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
   <h3 class="del-productHeading">Delete Fruit</h3>

   <div class="delForm">
     <form class="delProdForm" action="/del-item" method="POST">
      <label for"name">Select Fruit to Delete: </label>
      <select name="name">
        <% for (let fruit of fruits) { %>
          <option value="<%=fruit%>"><%=fruit.name %> @ $<%= fruit.price %></option>
        <% } %>
       </select><br>
      <button type="submit">Delete Fruit</button>
      
  </form>
  </div>
  

  <%- include('includes/footer.ejs') %>