<%- include('includes/head'); %>
<%- include('includes/nav'); %>
<br><h1><%= detailedFruit.name %></h1><br>
<img class="detailsImg" src="/<%= detailedFruit.imageUrl %>" alt="<%= detailedFruit.name %>">
<h2><%= detailedFruit.description %> </h2>
<h3>Place of Origin: <%= detailedFruit.origin %></h3>
<h4>Price: $<%= detailedFruit.price %></h4>
<%- include('includes/footer'); %>


