<%- include('includes/head.ejs'); %>
<main class="display-main">
   <h3 class="displayHeading">Our Fruit Collection</h3>

   <br>
   <div class="cardSection">
   <ul class="cards">
   <% if (fruits.length > 0)  { %>
     <% for (let fruit of fruits) { %>
      <!-- <a class="cardLinks" href="/display/<%= fruit.id %>"> -->
      <div class="card">
     
         <img class="bookCards" src="<%=fruit.imageUrl%>" alt="<%=fruit.title%>">
         <li class="bookCards"><h4><%= fruit.name %></h4></li>
         <li class="bookCards"><h5>$<%= fruit.price %></h5></li>
   
         <div class="grid-container">
          <% if (admin) { %>
          <a class="editButton" href="/edit-product/<%= fruit._id %>?edit=true">Edit</a>
          <form action="/del-item" method="post" clas=="displayForm">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
            <button class="addToCartButton" type="submit">Delete</button>
            <input type="hidden" name="fruitId" value="<%= fruit._id %>">
          </form>
         <% } else { %>
          <a class="editButton" href="/display/<%= fruit._id %>">Details</a>
          <% if (isAuthenticated) { %> 
          <form action="/cart" method="post" class="displayForm"> %>
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
          <button class="addToCartButton" type="submit">Add to Cart</button>
          <input type="hidden" name="fruitId" value="<%= fruit._id %>">
          </form>
          <% } else { %> 
            <form action="/login" method="get">
            <button class="addToCartButton" type="submit">Add to Cart</button>
            </form>
          <% } %> 
          <% } %> 
     
      </div>
      </div>  

     

    <% }} %>
   </ul>
     <% if (!(fruits.length > 0)) { %>
     <img class="notFoundDog" src="terrier.png" alt="Image of Terrier Dog">
     <p class="notFound">Oops! There are currently no fruits to display.</p> 
     <% }; %>
   </div>
<%- include ('includes/footer.ejs'); %>