<%- include('includes/head.ejs'); %>
<%- include('includes/nav.ejs'); %>

   <h3 class="bookHeading">Fruits Display</h3>

   <br>
   <div class="cardSection">
   <ul class="cards">
   <% if (fruits.length > 0)  { %>
     <% for (let fruit of fruits) { %>
      <div class="card">
         <li class="bookCards">Name: <%= fruit.name %></li>
         <img class="bookCards" src="<%=fruit.imageUrl%>" alt="<%=fruit.title%>">
         <li class="bookCards">Description: <%= fruit.description %></li>
         <li class="bookCards">Rating: <%= fruit.origin %></li>
         <li class="bookCards">Price: $<%= fruit.price %></li>
      </div>
    <% }} %>
   </ul>
     <% if (!(fruits.length > 0)) { %>
     <img class="notFoundDog" src="terrier.png" alt="Image of Terrier Dog">
     <p class="notFound">Oops! There are currently no fruits to display.</p> 
     <% }; %>
   </div>
<%- include ('includes/footer.ejs'); %>