<%- include('includes/head.ejs'); %>
<%- include('includes/nav.ejs'); %>

   <h3 class="bookHeading">Fruits Display</h3>

   <br>
   <div class="cardSection">
   <ul class="cards">
   <% if (fruits.length > 0)  { %>
     <% for (let fruit of fruits) { %>
      <!-- <a class="cardLinks" href="/display/<%= fruit.id %>"> -->
      <div class="card">
     
         <img class="bookCards" src="<%=fruit.imageUrl%>" alt="<%=fruit.title%>">
         <li class="bookCards"><h4><%= fruit.name %></h4></li>
         <li class="bookCards"><h5>$<%= fruit.price %></h5></li>
   
         <div class="grid-container">
          <% if (admin) { %>
          <a class="btn editButton" href="/edit-product/<%= fruit._id %>?edit=true">Edit</a>
          <form action="/del-item" method="post">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
            <button type="submit" class="btn">Delete</button>
            <input type="hidden" name="fruitId" value="<%= fruit._id %>">
          </form>
         <% } else { %>
          <a class="btn editButton" href="/display/<%= fruit._id %>">Details</a>
          <% if (isAuthenticated) { %> 
          <form action="/cart" method="post"> %>
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
          <button class="btn" type="submit">Add to Cart</button>
          <input type="hidden" name="fruitId" value="<%= fruit._id %>">
          </form>
          <% } %> 
          <% } %> 
     
      </div>
      </div>  

     

    <% }} %>
   </ul>
     <% if (!(fruits.length > 0)) { %>
     <img class="notFoundDog" src="terrier.png" alt="Image of Terrier Dog">
     <p class="notFound">Oops! There are currently no fruits to display.</p> 
     <% }; %>
   </div>
<%- include ('includes/footer.ejs'); %>