<%- include('includes/head.ejs'); %>
<%- include('includes/nav.ejs'); %>

   <h3 class="bookHeading">Books Display</h3>

   <br>
   <div class="cardSection">
   <ul class="cards">
   <% if (books.length > 0)  { %>
     <% for (let book of books) { %>
      <div class="card">
         <li class="bookCards">Title: <%= book.title %></li>
         <li class="bookCards">Genre: <%= book.genre %></li>
         <li class="bookCards">Description: <%= book.description %></li>
         <li class="bookCards">Rating: <%= book.rating %></li>
         <li class="bookCards">Price: $<%= book.price %></li>
      </div>
    <% }} %>
   </ul>
     <% if (!(books.length > 0)) { %>
     <img class="notFoundDog" src="terrier.png" alt="Image of Terrier Dog">
     <p class="notFound">Oops! There are currently no books to display.</p> 
     <% }; %>
   </div>
<%- include ('includes/footer.ejs'); %>