<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
   <h3 class="add-productHeading">Login Form</h3>
   <% if (errorMessage) { %> 
   <div><%= errorMessage %></div>
   <% } %> 
   <div class="addForm">
     <form class="addProdForm" action="/login" method="POST">
      <input type="hidden" value="<%= csrfToken %>" name="_csrf">
      <label for"email">Email: </label>
      <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : ''%>" type="email" name="email" value="<%= oldInput.email %>"><br>
      <label for"passwd">Password: </label>
      <input class="<%= validationErrors.find(e => e.param === 'passwd') ? 'invalid' : ''%>" type="password" name="passwd" value="<%= oldInput.password %>"/><br>
      <br><button type="submit">Login</button>
  </form>
  </div>

  <a href="/reset">Reset Password</a>
  

  <%- include('includes/footer.ejs') %>