<%- include('includes/head.ejs') %>
   <h3 class="form-heading">Update Password</h3>
   <% if (errorMessage) { %> 
   <div><%= errorMessage %></div>
   <% } %> 
   <div class="form-div">
     <form class="form-container" action="/new-password" method="POST">
      <input type="hidden" value="<%= csrfToken %>" name="_csrf">
      <input type="hidden" value="<%= userId%>" name="userId">
      <input type="hidden" value="<%= passwordToken %>" name="passwordToken">
      <label for"password">New Password: </label>
      <input type="password" name="password"/><br>
      <br><button type="submit">Update Password</button>
  </form>
  </div>
  

  <%- include('includes/footer.ejs') %>