<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
   <h3 class="add-productHeading">Update Password</h3>
   <% if (errorMessage) { %> 
   <div><%= errorMessage %></div>
   <% } %> 
   <div class="addForm">
     <form class="addProdForm" action="/new-password" method="POST">
      <input type="hidden" value="<%= csrfToken %>" name="_csrf">
      <input type="hidden" value="<%= userId%>" name="userId">
      <input type="hidden" value="<%= passwordToken %>" name="passwordToken">
      <label for"password">New Password: </label>
      <input type="password" name="password"/><br>
      <br><button type="submit">Update Password</button>
  </form>
  </div>
  

  <%- include('includes/footer.ejs') %>