<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
   <h3 class="add-productHeading">Sign Up Form</h3>
   <% if (errorMessage) { %> 
    <div><%= errorMessage %></div>
    <% } %>
   <div class="addForm">
     <form class="addProdForm" action="/sign-up" method="POST">
      <input type="hidden" value="<%= csrfToken %>" name="_csrf">
      <label for"email">Email: </label>
      <input type="email" name="email"><br>
      <label for"passwd">Password: </label>
      <input type="password" name="passwd"/><br>
      <label for"confirmPasswd">Confirm Password: </label>
      <input type="password" name="confirmPasswd"/><br>
      <br><button type="submit">Sign Up</button>
  </form>
  </div>
  

  <%- include('includes/footer.ejs') %>