<%- include('includes/head.ejs') %>
   <h3 class="form-heading">Sign Up Form</h3>
   <% if (errorMessage) { %> 
    <div><%= errorMessage %></div>
    <% } %>
   <div class="form-div">
     <form class="form-container" action="/sign-up" method="POST">
      <input type="hidden" value="<%= csrfToken %>" name="_csrf">
      <label for"email">Email: </label>
      <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : ''%>" type="email" name="email" value="<%= oldInput.email.trim() %> "><br>
      <label for"passwd">Password: </label>
      <input class="<%= validationErrors.find(e => e.param === 'passwd') ? 'invalid' : ''%>" type="password" name="passwd" value="<%= oldInput.password.trim()%>"><br>
      <label for"confirmPasswd">Confirm Password: </label>
      <input class="<%= validationErrors.find(e => e.param === 'confirmPasswd') ? 'invalid' : ''%>" type="password" name="confirmPasswd" value="<%= oldInput.confirmPassword.trim()%>"><br>
      <br><button type="submit">Sign Up</button>
  </form>
  </div>
  

  <%- include('includes/footer.ejs') %>